bucket                      = "replace-with-private-state-bucket"
key                         = "sahkarai/production/tofu.tfstate"
region                      = "blr1"
endpoints                   = { s3 = "https://blr1.digitaloceanspaces.com" }
skip_credentials_validation = true
skip_region_validation      = true
skip_requesting_account_id  = true
skip_metadata_api_check     = true
use_path_style              = false
encrypt                     = true
